// $black:    rgb(0, 0, 0) !default;

$warning: rgb(254, 233, 198);
$primary: rgb(206, 151, 55);

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
}

.login-box {
  max-width: 600px;
  min-height: 600px;
}

.pf-image {
  max-width: 8rem;
  display: flex;
}

.pf-image-sm {
  max-width: 3rem;
  display: flex;
}

.top-buffer {
  margin-top: 20px;
}

@import "../node_modules/bootstrap/scss/bootstrap";
